@font-face {
  font-family: 'iconfont';  /* project id 507237 */
  src: url('http://at.alicdn.com/t/font_507237_wvsyb4tel2kb7qfr.eot');
  src: url('http://at.alicdn.com/t/font_507237_wvsyb4tel2kb7qfr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_507237_wvsyb4tel2kb7qfr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_507237_wvsyb4tel2kb7qfr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_507237_wvsyb4tel2kb7qfr.svg#iconfont') format('svg');
}
.head{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0,.8);
	border-bottom: 1px dotted #ccc
}
.head-neikuan{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.head-left{
	overflow: hidden; 
	float: left
}
.head-wenzi{
	font-size: 12px;
	color: #9e96a0;
	line-height: 40px;
	float: left;
	margin-right: 16px;
}
.head-wenzi:hover{
	color: #fff
}
.head-right{
	float: right
}
.car{
	width: 120px;
	height: 40px;
	background-color: #424242;
	float: left;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.car:hover {
	background-color: #fff;
}
.car:hover .head-buy{
	color: orange;
}
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden; 
}
.nav-left{
	width: 55px;
	height: 55px;
	background-color: red;
	margin-top: 22.5px;
	float: left;
}
.nav-center{
	float: left;
	margin-left:190px ;
}
.nav-wenzi{
	float: left;
	line-height: 100px;
	padding: 0 10px;
	cursor: pointer;
}
.nav-wenzi:hover{
	color: orange
}
.nav-right{
	width: 297px;
	height: 50px;
	float: right;
	margin-top: 25px;
	background-color: yellow;
}
.nav-right:hover input{
	border-color: #b0b0b0
}
.nav-seach{
	width: 245px;
	height: 50px;
	background-color: blue;
	float: left;
}
.nav-text{
	width: 52px;
	height: 50px;
	background-color: pink;
	float: right;
}
.nav-seach input{
	width: 245px;
	height: 50px;
	box-sizing: border-box;
	padding-left:7px;
	border: 1px solid #e0e0e0
}
.nav-text input{
	width: 52px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	border-left: 0
}
.nav-text:hover input{
	background-color: orange;
	color: #fff
}
.mingxingdanpin{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.danpin-top{
	width: 100%;
	height: 58px;
}
.danpin-wenzi{
	line-height:58px;
	font-size: 22px;
	font-weight: 200;
	color: #333; 
	float: left;
}
.danpin-jiantou{
	width: 70px;
	height: 25px;
	float: right;
	margin-top: 16px
}
.danpin-jiantou button{
	width: 33px;
	height: 23px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: content-box;
	float: left;
	cursor: pointer
}
.danpin-bottm{
	width: 100%;
	height: 380px;
}
.danpin-bottm{
	transform:translat 
}
.danpin-item{
	width: 234px;
	height: 339px;
	border-top:1px solid;
	background-color: #fafafa;
	padding-top: 39px; 
	text-align: center;
	float: left;
	margin-right: 14px
}
.danpin-item{
	width: 234px;
	height: 339px;
	border-top:1px solid;
	background-color: #fafafa;
	padding-top: 39px; 
	text-align: center;
	float: left;
	margin-right: 14px
}
.danpin-item:nth-child(5){
	margin-right: 0;
	border-top:1px solid red;
}
.danpin-item:nth-child(4){
	border-top:1px solid orange;
}
.danpin-item:nth-child(3){
	border-top:1px solid pink;
}
.danpin-item:nth-child(2){
	border-top:1px solid yellow;
}
.danpin-item:nth-child(1){
	border-top:1px solid purple;
}
.danpin-item1{
	width: 160px;
	height: 160px;
	margin: 0 auto 22px;
}
.danpin-biaoti{
	display:block;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: 400;
	color: #212121
}
.danpin-xiaobiaoti{
	display:block;
	margin-bottom: 12px;
	font-size: 12px;
	color: #b0b0b0
}
.car .head-buy{
	font-size: 12px;
	color: #9e96a0;
}
/* .car .head-buy:hover{
	color: orange;
} */
.icon-cart:before{
	margin-right: 5px;
}
.bannerlist{
	width: 1226px;
	height: 170px; 
	margin:0 auto;
	margin-top: 14px
}
.bannerlist li{
	width: 316px;
	height: 100%;
	float: left; 
}
.bannerlist li:nth-child(1){
	width: 228px;
	height: 164px;
	padding: 3px;
}
.bannerlist li:nth-child(2){
	margin-left: 14px;
}
.bannerlist li:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.bannerlist li:nth-child(3){
	margin-left: 15px;
}
.bannerlist li:nth-child(4){
	margin-left: 15px;
}
.banner-icon{
	width: 76px;
	height: 64px;
	padding-top: 18px;
	background-color: #5f5750;
	float: left;
}
.banner-icon:hover span{
	color: #fff
}
.banner-icon .banner-shouji{
	font-weight: bolder;
	display: block;
	text-align: center;
	color:rgba(255,255,255,0.7)	;
	font-size: 24px
}
.banner-shouji1{
	display: block;
	text-align: center;
	color:rgba(255,255,255,0.7)	;
	font-size: 14px
}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
	
}
.jiadian-top{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	
}
.jiadian-wenzi{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.jiadian-left{
	float: right;
	
	margin-top: 16px;
	
}
.jiadian-xiaobiaoti{
	float: left;
	margin-right: 30px;
	color: #424242;
}
.jiadian-xiaobiaoti:hover{
	color: #ff6709;
	cursor: pointer
}
.xiaobiaoti1{
	color: #ff6709;
}
#box{
	width: 100%;
	background-color: #f5f5f5
}
.jiadian-bottm{
	width: 1226px;
	height: 614px;
	
	margin: 0 auto
}
.jiadian-bottm-left{
	width: 234px;
	height: 614px;
	transition:all .2s linear;
	float: left; 
}
.jiadian-item{
	width: 234px;
	height: 246px;
	background-color: #fff;
	float: left;
	padding-top: 34px;
	padding-bottom: 20px;
	text-align: center;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
	transition:all .2s linear; 
}
.jiadian-item:hover,.jiadian-bottm-left:hover,.jiadian-items:hover{
	transform: translateY(-2px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

}
.jiadian-item1{
	display: block;
	width: 150px;
	height: 150px;
	
	margin: 0 auto ;

}
.jiadian-itemt{
	width: 234px;
	height: 300px;
}
.jiadian-item3{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	margin-bottom: 10px;
}
.jiadian-jiage{
	text-align: center;
	font-size: 14px;
	color: orange;
	margin-top: 10px;
}
.jiadian-biaoti{
	text-align: center;
	display:block;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	margin-top: 18px;
}
.jiadian-items{
	width: 234px;
	height: 93px;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #fff;
	padding-top: 50px;
	float: left
}
.jiadian-wenzi-you {
	float: left;
	margin-left: 30px
}
.display{
	width: 100%;
	height: 76px;
	background-color: #ff6700;
	position: absolute;
	bottom: -76px;
	left: 0;
	transition: all .3s linear;
/* 	text-align: center; */
}
.mingzizi{
	width: 100%;
	height: 20px;
	margin-top: 20px;

}
.display .mingzia{
	
	font-size: 12px;
	color: #fff;

	text-align: center 
}
.display span{
	font-size: 12px;
	color: rgba(255, 255, 255, .6); 
	text-align: center;
}
.jiadian-item:hover .display{
	bottom: 0px;
}
.jiadian-wenzi-you .jiadian-biaoti{
	text-align: left;
	margin: 0
}
.jiadian-wenzi-you .jiadian-jiage{
	text-align: left;
}
.jiadian-pic{
	float: right;
	width: 80px;
	height: 80px;
	
	margin-right: 20px;
}
.jiadian-pic .tubiaobiao{
	font-size: 50px;
	color: #ff6700
}
.e{
	width: 234px;
	height: 300px;
	margin-left: 0;
	padding: 0
}
.danpin-bottm .tuijian {
	border: 0;
	width: 234px;
	height:300px;
	padding-top: 0;
	background-color: #fff
}
.tuijian:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
.r{
	margin-top: 10px;
	font-size: 12px
}
.h{
	margin-bottom: 10px;
	font-size: 12px
}
.reping{
	width: 1226px;
	height: 487px;
	
	margin:0 auto
}
.reping-top{
	width: 1226px;
	height: 58px;
	
}
.reping-pic{
	width: 296px;
	height: 415px;
	background-color: #fff;
	display:block;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;
}
.reping-pic:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
.pictu{
	display: block;
	width: 296px;
	height: 226px;
	background: red; 
}
.wenzi{
	width: 240px;
	height: 96px;
	
	margin:0 auto;
	margin-top: 20px
}
.wenzi1{
	display: block;
	color: #333;
	font-size: 14px;
	line-height: 24px;
}
.reping-author{
    color: #b0b0b0;
    font-size: 12px;
    margin-left:28px;
    margin-bottom: 8px
}
.reping-jiage{
	margin-left:28px;
	width: 236px;
	height: 22px;
	
}
.reping-mingzi{
	color: #333;
	font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}
.zi{
	color: orange;
	margin-right: 0;
}
.pic{
	margin-left: 0;

}
.reping-bottom{
	width: 1226px;
	height: 415px;
	margin: 0 auto;
	
}
.neirongw .neirong{
	width: 296px;
	height: 374px;
	padding-top: 45px;
	background-color: #fff;
	position: relative;
	border-top:1px solid;
	text-align: center;
	float: left;
	margin-right: 14px;

}
.neirongw:hover .huadonga{
	font-size: 30px;
	color: #fff


}
.neirong:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}

.rong{
	margin-right: 0;
}
.neirongw{
	width: 1226px;
	height: 478px;
	margin: 0 auto;
	background-color: #f5f5f5
}
.neirong-bottm{
	width: 1226px;
	height: 420px;
	margin: 0 auto;
	
}
.neirong-tushu{
	margin-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    color: orange;
    display: block;
}
.neirong-tushuming{
	display: block;
	color: #333;
	font-size: 20px;
    font-weight: 400;
    margin-bottom: 7px;
}
.neirong-tushuneirong{
	color: #b0b0b0;
	display: block;
	font-size: 12px;
	margin: 0 48px 10px;
}
.neirong-tushuneirongw{
	color: #333;
	display: block;
	font-size: 12px;
	margin-bottom: 15px
}
.neirong-tupian{
	width: 216px;
	height: 154px;
	
	margin: 0 auto
}
.neirong .diandian{
	width: 90px;
	height: 30px;
	
	margin: 0 auto
}
.dian{
	width: 30px;
	height: 30px;
	float: left;

}
.neirongw .rongrong{
	margin-right: 0;
}
.shipin-kapian{
	width: 296px;
	height: 285px;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;
}
.shipin-kapian:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
.shipin-tupian{
	width: 296px;
	height: 180px;
	position: relative; 
}
.shipin-tushuming{
	display: block;
	color: #333;
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px
}
.shipin-tushuming:hover{
	color: #ff6700
}
.shipin-tushu{
	display: block;
	font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.kapian{
	margin-left: 0
}
.banner{
	width: 1226px;
	height: 460px;
	background-color: red ;
	margin: 0 auto;
	position: relative; 
}
.banner-tu{
	width: 1226px;
	height: 460px;

}
.banner-item{
	width: 1226px;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0
}
.banner-nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 900;
	padding:20px 0; 
	float: left
}
.banner-nav li{
	width: 100%;
	height: 42px;
	line-height: 42px
}
.banner-nav li a{
	display: block;
	width: 234px;
	height: 42px;
}
.banner-nav-jiantou{
	float: right;
	color: #fff;
	margin-right: 30px;
}
.banner-nav-wenzi{
	font-size: 14px;
	color: #fff;
	margin-left: 30px;
}
.banner-nav li:hover{
	background: orange
}
.banner .huadong{
	font-size: 50px;
	float: left;
	position: absolute;
	left: 234px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 41px;
	height: 69px;
	color: #ccc;
	line-height: 69px;
	background-image: none;
	
}
.banner .huadongb{
	font-size: 50px;
	float: right: ;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 41px;
	height: 69px;
	color: #ccc;
	line-height: 69px;
	background-image: none;
}
.banner .huadongb:hover{
	color: #fff
}
.huadong:hover{
	color: #fff
}
.neirongw .huadonga{
	font-size: 30px;
	float: left;
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 21px;
	height:49px;
	line-height: 49px;
	color: #fff
}
.neirongw .heziww{
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 21px;
	height: 49px;
	line-height: 49px;
	background-image: none
}
.heziww:hover{
	background-color: rgba(0, 0, 0, 0.6);

}
#xiaomi .neirongw .swiper-pagination-bullets{
	margin: 0 auto;
	text-align: center;
	width: 180px;
	height: 30px;
	bottom: 30px
}
.heziwwc{
	float: left;
	position: absolute;
	left: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 21px;
	height: 49px;
	line-height: 420px;
}
.heziwwwd{
	float: left;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 21px;
	height: 49px;
	line-height: 420px;
}
.neirong:hover .heziwwc{
	background-color:#b0b0b0;

}
.neirong:hover .heziwwwd{
	background-color:#b0b0b0;

}
.neirongw .heziwww{
	float: right;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 21px;
	height: 49px;
	line-height: 49px;
	background-image: none

}
.heziwww:hover{
	background-color: rgba(0, 0, 0, 0.6);

}
.heziwww .huadongw{
	font-size: 40px;
	float: left;
	position: absolute;
	right: : 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 420px;
	line-height: 420px;
	color: #ccc;
}
.huadongw:hover{
	color: #fff
}
.huadongwb{
	font-size: 50px;
	float: left;
	margin: auto;
	width: 50px;
	height: 420px;
	line-height: 69px;
	color: #fff;
}
.neirong:hover .huadongwb{
	color: #fff
}

#xiaomi .banner-lubodian{
	width: 150px;
	height: 18px;
	position: absolute;
	right: 30px;
	bottom: 20px;
	left: auto;
}
#xiaomi .swiper-pagination-bullet{
	width: 6px;
	height: 6px;
	float: right;
	margin-left: 10px;
	background-color: #666;
	border: 2px solid rgba(255,255,255,0.3);

}
#xiaomi .swiper-pagination-bullet-active{
	background-color:rgba(255,255,255,0.3);
	border: 2px solid #666;
}
#xiaomi .diandian .swiper-pagination-bullet-active{
	background-color:rgba(255,255,255,0.3);
	border: 2px solid #ff6700;
}
.hezi{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #ccc;	
	float: right
}
.tubiao{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	bottom: 20px;
	text-align: center;
	line-height: 30px
}
.shipin-kapian .biao{
	font-size: 30px;
	color: #fff;
}
#xiaomi .shipin-tupian:hover .tubiao{
	background-color: #ff6700
}
.foot{
	width: 100%;
	height: 272px;
	background-color: #fff;
	margin-top: 62px;
}
.foot-top{
	width: 1226px;
	height: 26px;
	background-color: #fff;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 27px;
	padding-bottom: 27px;

}
.foot-top-item{
	width: 1226px;
	height: 25px;
}
.foot-top-item1{
	width: 242px;
	height: 24px;
	float: left;
}
.foot-top-item2{
	display: block;
	width: 200px;
	height: 24px;
	margin: 0 auto;
}
.foot-top .foot-weixiu{
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	float: left;
	color: #616161;
	margin-right: 6px;
}
.foot-weixiuwenzi{
	font-size:16px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	float: left;
	color: #616161;
}
.foot-bottom{
	width: 1226px;
	height: 112px;
	margin: 0 auto;
	padding: 40px 0;
}
.foot-bottom-item{
	width: 160px;
	height: 112px;
	float: left;
}
.foot-bottom-item1{
	margin-bottom: 26px;
	font-size: 14px;
    color: #424242;
    display: block;
}
.foot-bottom-item2{
	color: #757575;
	font-size: 12px;
	display: block;
	margin-top: 10px;
} 
.foot-bottom-right{
	width: 252px;
	height: 112px;
	float: right;
	text-align: center;
}   
.foot-dianhua{
	margin: 0 0 5px;
    font-size: 22px;
    color: #ff6700;
}
.foot-shijian{
	margin: 0 0 2px;
    font-size: 12px;
    color: #616161;
    display: block;
}
.foot-shihuafei{
    font-size: 12px;
    color: #616161;
    display: block;
    margin: 0 0 16px;
}
.foot-kefu{
   	border: 1px solid #ff6700;
   	width: 120px;
   	height: 30px;
   	display: block;
   	width: 118px;
   	height: 28px;
   	margin: 0 auto;
   	text-align: center;
}
.foot-bottom-xiaoxi{
	font-size: 10px;
	color: #ff6700;
	float: left;
	line-height: 30px;
	margin-left: 10px ;
}
.zuixiamian{
	width: 100%;
	height: 106px;
}
.zuixiamian-neikuan{
	width: 1226px;
	height: 106px;
	margin: 0 auto;
	padding: 30px 0;
}
.zuixiamian-left{
	width: 641px;
	height: 57px;
	float: left;
}
.left-logo{
	width: 57px;
	height: 57px;
	background-color: orange;
	margin-right: 10px;
	float: left;
}
.zuixiamian-yinsi{
	width: 574px;
	height: 57px;
	float: right;
}
.bottom-lianjietop{
	width: 574px;
	height: 18px;
}
.bottom-lianjietop1{
	font-size: 12px;
	color: #757575;
}
.beian{
	color: #b0b0b0;
	font-size: 12px;
	width: 574px;
	height: 35px;
	display: block;
}
.zuixiamian-right{
	width: 500px;
	height: 57px;
	float: right;
}
.tupian1{
	width: 83px;
	height: 28px;
	margin-top: 14.5px;
	float: left;
	margin-right: 10px;
}

